<p>Hey {{ name }},</p>
<p>We are sending this email to inform You that Your teacher
   Mrs/Ms <b>{{ teacher }}</b> has schedule Your lesson 
   for <b>{{ lessonDate }}</b>. 
</p>
<p>If you did not request this email you can safely ignore it.</p>
